AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o-mini"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

ARTICLES_COLLECTION_NAME="articles"
CHROMA_PERSIST_DIRECTORY="./chroma_db"

HUGGINGFACE_MODEL_NAME="sentence-transformers/all-MiniLM-L6-v2"